body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: "#27214D";
}

#outputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 3rem;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 60vw;    
}

#buttonsContainer {
    display: flex;
    height: 40vh;
    width: 60vw;
    justify-content: center;
}

#outputContainer {
    background-color: "#00A7B5";
}