#outputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 3rem;
}

#mainContainer {
    display: flex;
    flex-direction: column;
}

#buttonsContainer {
    display: flex;
}

