body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #27214D;
}

#outputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 3rem;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20vw;
}

#gridContainer {
    display: grid;
    height: auto;
    width: auto;
    justify-content: center;
    grid-template-columns: 100px 100px 100px 100px ;
    grid-template-rows: 100px 100px 100px 100px 100px;
    gap: 10px;
    grid-template-areas: 
    "clearButton . . deleteButton"
    "number1 number2 number3 operator0"
    "number4 number5 number6 operator1"
    "number7 number8 number9 operator2"
    "operator4 number0 operator5 operator3"
}

#outputContainer {
    display: flex;
    background-color: #00A7B5;
    justify-content: center;
}